<!DOCTYPE html>
<html>
  <head>
    <title>Submit a Complaint</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1>Complaint Form</h1>
    <div class="container">
      <div class="row mx-0 justify-content-center">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
          <form
            method="POST"
            class="w-100 rounded-1 p-4 border bg-white"
            action="/app/api/complaint/"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <label class="d-block mb-4">
              <span class="form-label d-block">Student Name</span>
              <input
                name="name_of_student"
                type="text"
                class="form-control"
                placeholder=""
              />
            </label>

            <label class="d-block mb-4">
              <span class="form-label d-block">Roll Number</span>
              <input
                name="roll_number"
                type="text"
                class="form-control"
                placeholder=""
              />
            </label>

            <label class="d-block mb-4">
              <span class="form-label d-block">Complaint</span>
              <textarea
                name="complaint"
                class="form-control"
                rows="3"
                placeholder="Please describe your problem"
              ></textarea>
            </label>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary px-3 rounded-3">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
